stocks/
tickers/
tickers.csv
.env
.idea/
*.csv
provider/polygon/bars/__pycache__/*
provider/polygon/bars/day/__pycache__/*
provider/polygon/bars/hour/__pycache__/*
provider/polygon/bars/minute/__pycache__/*
provider/__pycache__
provider/polygon/__pycache__
